In [149]:
print("d")

d

In [150]:
%pip install pymysql

Requirement already satisfied: pymysql in /home/user/anaconda3/envs/pandas/lib/python3.9/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [151]:
import pymysql

In [152]:
def read_config(p:str) -> dict: 
    """
    p: config file경로
    """

    with open(p, 'r') as f:
        lines=f.readlines()
    return lines

In [153]:
lines=read_config('./db_config')

In [154]:
print(lines)

['host=localhost\n', 'user=choi\n', 'password=1234\n', 'database=study\n', 'charset=utf8mb4']

In [196]:
def read_config(p:str) -> dict:
    """
    p: config file 경로
    """
    with open(p, 'r') as f:
        db_config = f.readlines()
    config_dict={}

    for l in lines:
        idx = l.index('=')
        k = l[:idx]
        v = l[idx+1:]
        config_dict[k] = v.rstrip()
    
    return config_dict

In [156]:
db_config = read_config('./test.config')

In [157]:
config_dict={}

for i in config_dict:
    # k,v = i.split('=')
    idx = i.index('=')
    k=i[:idx]
    v=i[idx+1:]
    config_dict[k] = v.rstrip()

config_dict

{}

In [197]:
try:
    # conn=pymysql.connect(
    #     host="localhost",
    #     # port=3306,
    #     user ="choi",
    #     password="1234",
    #     database="study",
    #     charset="utf8mb4"

    # )
    conn =pymysql.connect(**config_dict)
    print("sucesse")
except Exception as e:
    print("fail",e)

sucesse

In [159]:
db_config =read_config("./test.config")

In [160]:
with open('./test.config', 'r') as f:
        config=f.readlines()

print(config)

['host=localhost\n', 'user=root\n', 'password=1234\n', 'database=study\n', 'charset=utf8mb4']

In [161]:
config_dict={}

for i in config:
    # k,v = i.split('=')
    idx = i.index('=')
    k=i[:idx]
    v=i[idx+1:]
    config_dict[k] = v.rstrip()

config_dict

{'host': 'localhost',
 'user': 'root',
 'password': '1234',
 'database': 'study',
 'charset': 'utf8mb4'}

In [162]:
db_config = read_config('./test.config')

In [163]:
def read_config(p:str) -> dict:
    """
    p: config file 경로
    """
    with open(p, 'r') as f:
        db_config = f.readlines()
    config_dict={}

    for l in lines:
        idx = l.index('=')
        k = l[:idx]
        v = l[idx+1:]
        config_dict[k] = v.rstrip()
    
    return config_dict

In [164]:
config_dict={}

for i in lines:
    # k,v = i.split('=')
    idx = i.index('=')
    k=i[:idx]
    v=i[idx+1:]
    config_dict[k] = v.rstrip()

config_dict

{'host': 'localhost',
 'user': 'choi',
 'password': '1234',
 'database': 'study',
 'charset': 'utf8mb4'}

In [165]:
try:
    # conn=pymysql.connect(
    #     host="localhost",
    #     # port=3306,
    #     user ="choi",
    #     password="1234",
    #     database="study",
    #     charset="utf8mb4"

    # )
    conn =pymysql.connect(**db_config)
    print("sucesse")
except Exception as e:
    print("fail",e)

sucesse

In [166]:

test_config = read_config('./test.config')

In [167]:
def read_config(p:str) -> dict:
    """
    p: test config file 경로
    """
    with open(p, 'r') as f:
        lines_test= f.readlines()
    config_dict2={}

    for l in lines_test:
        idx = l.index('=')
        k = l[:idx]
        v = l[idx+1:]
        config_dict2[k] = v.rstrip()
        
    return config_dict2

In [168]:
try:
    
    conn =pymysql.connect(**test_config)
    print("sucesse")
except Exception as e:
    print("fail",e)

sucesse

In [169]:
conn

In [198]:
conn

In [171]:
with conn.cursor() as cursor:
    sql = 'INSERT INTO `Students`(`Name`,`Age`,`Address`)\
          VALUES ("jj","26","toyko")'
    cursor.execute(sql)

conn.commit()

In [172]:
with conn.cursor() as cursor:
    sql = 'INSERT INTO `Students`(`Name`,`Age`,`Address`)\
          VALUES (%s,%s,%s)'
    cursor.execute(sql,("jjj","26","toyko"))

conn.commit()

In [173]:
with conn.cursor() as cursor:
    sql = 'INSERT INTO `Students`(`Name`)\
          VALUES (%s)'
    cursor.executemany(sql,[
        ("j1",),
        ("j2",)
        ])

conn.commit()

In [174]:
with conn.cursor() as cur:
    sql ='SELECT * FROM Students LIMIT %s OFFSET %s'
    cur.execute(sql,(5,0))
    data = cur.fetchall()
data

((1, '홍길동', 30, '인천'),
 (2, '이연걸', 60, '서울'),
 (3, '이몽룡', 42, '대전'),
 (4, '성춘향', 27, '경기'),
 (5, 'jk', 27, '서울'))

In [175]:
page_size=5
page=1

limit = page_size
offset = page_size * (page-1)

In [194]:
def pagination(page,page_size=5):
    limit = page_size
    offset = page_size * (page-1)

    with conn.cursor() as cur:
        sql ='SELECT * FROM Students LIMIT %s OFFSET %s'
        cur.execute(sql,(limit,offset))
        data = cur.fetchall()
        
    return data

page_one=pagination(1,page_size=10)
page_one

((1, '홍길동', 30, '인천'),
 (2, '이연걸', 60, '서울'),
 (3, '이몽룡', 42, '대전'),
 (4, '성춘향', 27, '경기'),
 (5, 'jk', 27, '서울'),
 (7, 'jjj', 26, 'toyko'),
 (8, 'j1', None, None),
 (9, 'j2', None, None),
 (10, 'jj', 26, 'toyko'),
 (11, 'jjj', 26, 'toyko'))

In [186]:
pagination(1,page_size=10)

((1, '홍길동', 30, '인천'),
 (2, '이연걸', 60, '서울'),
 (3, '이몽룡', 42, '대전'),
 (4, '성춘향', 27, '경기'),
 (5, 'jk', 27, '서울'))

In [178]:
##update
with conn.cursor() as cur:
    sql="update `students` set Age=%s where studentID=%s"
    cur.execute(sql,('27',5))
conn.commit()

In [187]:
with conn.cursor() as cur:
    sql="delete from students where studentID=%s"
    cur.execute(sql,(6,))
conn.commit()

In [208]:
pagination(1,page_size=10)

((1, '홍길동', 30, '인천'),
 (2, '이연걸', 60, '서울'),
 (3, '이몽룡', 42, '대전'),
 (4, '성춘향', 27, '경기'),
 (5, 'jk', 27, '서울'),
 (12, 'j1', None, None),
 (13, 'j2', None, None))

In [199]:
with conn.cursor() as cur:
    sql="delete from students where studentID in (%s,%s,%s)"
    cur.execute(sql,(7,8,9))
conn.commit()

In [ ]:

# SET FOREING_KEY_CHECKS=0;

In [207]:
def delete(target_ids:tuple):
    with conn.cursor() as cur:
        sql= 'delete from `students` where StudentID in (' +\
              ','.join(['%s']*len(target_ids)) + ')'
        cur.execute(sql,target_ids)
    conn.commit()   
    return 

delete((10,11,))

In [218]:
def pagination_(page,page_size=5):
    limit = page_size
    offset = page_size * (page-1)

    with conn.cursor() as cur:
        sql ='SELECT * FROM Student LIMIT %s OFFSET %s'
        cur.execute(sql,(limit,offset))
        data = cur.fetchall()
        
    return data

page_one=pagination_(1,page_size=10)
page_one

((1, 'Q1', None, None, None),
 (2, 'Q2', 'ese@ee.do', '002', 'english'),
 (3, 'Q3', 'ese@ee.do', '003', 'math'),
 (4, 'Q4', 'eve@ee.do', '004', 'japanese'))

 db에 student 테이블을 생성해주세요.
- id (빈 값 허용 안함, 자동 증가)
- name (최대 16글자)
- email (최대 32글자)
- phone (최대 16글자)
- major (최대 16글자)
- 수강생 중 한 분의 데이터를 DB에 입력해주세요.
- 수강생 중 네 분의 데이터를 DB에 동시에 추가해주세요.
- 입력한 전체 데이터를 확인해주세요.
- 한 수강생분의 이메일이 잘못 입력되었다고 가정하고, 이메일을 수정, 
DB에 반영해주세요.
- 수강생 한 분이 취업하셨습니다. DB에서 삭제 해주세요.

CREATE TABLE Student (
    id INT NOT NULL AUTO_INCREMENT,
    name VARCHAR(16),
    email VARCHAR(32),
    phone VARCHAR(16),
    major VARCHAR(16),
    PRIMARY KEY(id)
);

In [209]:
with conn.cursor() as cur:
    sql="insert into `student`(`name`) values(%s) "
    cur.execute(sql,("Q1",))
conn.commit()

In [216]:
with conn.cursor() as cur:
    sql="insert into `student`(`name`,`email`,`phone`,`major`) values(%s,%s,%s,%s) "
    cur.executemany(sql,[
                    ("Q2","ese@ee.do","002","english",),
                    ("Q3","ese@ee.do","003","math",),
                    ("Q4","eve@ee.do","004","japanese",)
                    ])
conn.commit()

In [224]:
with conn.cursor() as cur:
    sql="select * from `student`"
    cur.execute(sql,)
    data = cur.fetchall()
data

((1, 'Q1', None, None, None),
 (3, 'Q3', 'ese@ee.do', '003', 'math'),
 (4, 'Q4', 'eve@ee.do', '004', 'japanese'))

- 한 수강생분의 이메일이 잘못 입력되었다고 가정하고, 이메일을 수정, 
DB에 반영해주세요.
- 수강생 한 분이 취업하셨습니다. DB에서 삭제 해주세요.

In [221]:
with conn.cursor() as cur:
    sql="update `student` set email=%s where id=%s"
    cur.execute(sql,("dd@ee.io",2))

conn.commit()

In [223]:
with conn.cursor() as cur:
    sql ='delete from `Student` where id=%s'
    cur.execute(sql,(2))
conn.commit()